html{
 height: 100%;
 background: repeating-linear-gradient(45deg, white, white 2px, rgb(226, 223, 223) 2px, rgb(226, 223, 223) 4px);
}
body{
  margin-top: 0px;
}
.table1{
  width: 800px;
  background-color: #69f;
  border-collapse: collapse;
  border: 1px;
  margin:auto auto;
  border-color: #69f;
}

.table2{
  width: 800px;
  margin: 0 auto;
  padding: 0px;
  background-color: #69f;
  border-left: 3px solid #69f;
  border-right: 3px solid #69f;
  font-weight: 600;
  }

.tr1{
  text-align:center;
  border-collapse: collapse;
}
.tr2{
  background-color: white;
  border-collapse: collapse;
  padding: 0px;
 }

.td1{
  width: 100px;
  
}
.td2{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 600; 
}

img{
  height: 187px;
  width: 100px;
  margin-top: 3px;
  margin-left: 3px;
}

.p1{
  margin-top: 0px;
  margin-bottom: 27px;
  text-align: center;
  white-space: pre-line;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 600;
}

.p2{
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  font-weight: 600;
  margin-bottom: 10px;
 
}
h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 150%;
  text-transform: uppercase;
  margin-top: 0;
}

h4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120%;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 16px;
}
ul{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70%;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 130%;
  color: #69f;
  padding:0px;
  margin-left: 8px;
  text-align: left;
  list-style: none;
  list-style-position: inside;

  }

ul li::before{
  content: "\2022";
  color: #69f;
  font-size: 20px;
  padding-right: 6px;
  margin-left: 16px;
  vertical-align: middle;
}


.p3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70%;
  font-weight: 600;
  text-align: justify;
  color: #69f;
  letter-spacing: 0.4px;
  line-height: 130%;
  margin: 0px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding:7px 15px;
}
.tr3{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 60%;
  font-weight: 700;
  background-color: #69f;
  text-align: center;
  white-space: pre-line;
  letter-spacing: 0.2px;
  line-height: 110%;
}
ol{
  text-align: left;
  color: #69f;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80%;
  letter-spacing: 0.3px;
  padding-left: 35px;
  list-style-position: outside;
 }
.li{
  padding-left: 6px;
}
a{
  color: gray;
}
.a1{
  text-decoration: none;
 }

 .a3{
  text-decoration: none;
  color: white;
}

